#Bot Information
BOT_NUMBER="62xxx"
OWNER_NUMBER="62xxx"
BOT_SESSION_NAME="ryzumi-sesion"
PORT=3000

#Database Config
DB_DRIVER="mariadb"
DB_HOST=localhost
DB_PORT=3306
DB_NAME=ryzumi_wa
DB_USER=root
DB_PASS=

#Bot Watermark
BOT_NAME="Ryzumi-MD"

#Social Media
SOC_FACEBOOK="https://www.facebook.com/Nao.Tomori.UwU"
SOC_INSTAGRAM="https://www.instagram.com/fatih_frdaus"
SOC_GITHUB="https://github.com/ShirokamiRyzen"
SOC_WA_GROUP="https://chat.whatsapp.com/I5JCuQnIo4f79JsZAGCvDD"
SOC_WEBSITE="https://ryzumi.net"

#Payment Information
PAY_QRIS="https://api.ryzumi.net/assets/images/qris.png"

#API Service
API_RYZUMI="https://api.ryzumi.net"

#Ryzumi Message
RYZUMI_MSG_REGISTER="Kamu harus mendaftar terlebih dahulu sebelum menggunakan fitur ini.\n\nGunakan perintah *.register* untuk mendaftar."
RYZUMI_MSG_DISABLE="Mohon maaf. Perintah ini sedang dinonaktifkan sementara untuk pemeliharaan sistem~"
RYZUMI_MSG_GROUP="Mohon maaf. Fitur ini hanya dapat digunakan di dalam obrolan grup~"
RYZUMI_MSG_PRIVATE="Demi privasi dan keamanan data, silakan gunakan fitur ini melalui pesan pribadi ya~"
RYZUMI_MSG_LIMIT="Batas penggunaan harian sudah habis. Coba lagi besok ya~"
RYZUMI_MSG_COOLDOWN="Mohon tunggu sebentar. Berikan Ryzumi waktu sekitar *{time}* lagi untuk memprosesnya~"
RYZUMI_MSG_OWNER="Mohon maaf. Otoritas Owner diperlukan untuk mengakses perintah ini~"
RYZUMI_MSG_MODERATOR="Akses ini terbatas hanya untuk Moderator. Mohon dimengerti ya~"
RYZUMI_MSG_BOTADMIN="Ryzumi memerlukan otorisasi Admin Grup untuk menjalankan perintah ini. Mohon bantuannya ya~"
RYZUMI_MSG_ADMIN="Instruksi ini hanya dapat dijalankan oleh Admin Grup. Mohon maaf atas ketidaknyamanannya~"
RYZUMI_MSG_QUOTED="mohon lampirkan atau balas (quote) pesan yang ingin Ryzumi tindak lanjuti ya~"